* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* classes to be recycled */

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.float-left {
    float: left;
}

.w-50 {
    width: 50%;
}

.button {
    line-height: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(254, 119, 90);
    border: 1px solid rgb(254, 119, 90);
}

.button-orange {
    color: white;
    background-color: rgb(254, 119, 90);
}

.button-large {
    padding: 20px;
}

.min-w {
    min-width: 1200px;
}

.padding-bottom {
    padding-bottom: 50px;
}

.col-3 {
    float: left;
    width: 30%;
}

.fa-check-circle {
    padding-right: 10px;
    color: rgb(254, 119, 90);
}


/* /classes to be recycled */


/* header */

header {
    width: 100%;
    height: 815px;
}

.nav-container {
    width: 90%;
    height: 80px;
    margin: auto;
}


/* nav fix */

.nav-container .nav-fix {
    position: fixed;
    width: 90%;
    height: 80px;
    margin: auto;
    line-height: 80px;
    z-index: 999;
    border-bottom: 1px solid black;
    background-color: rgb(244, 249, 253);
}

.nav-fix-left {
    height: 80px;
}

.nav-fix-right {
    height: 80px;
    padding-left: 25%;
}

.menu-inline {
    list-style: none;
}

.menu-inline li {
    display: inline;
    padding: 0 2%;
}

.menu-inline li a {
    text-decoration: none;
}

.nav-fix-left .menu-inline li a {
    color: black;
}

.nav-fix-left .menu-inline li:last-child {
    border-left: 1px solid black;
}

.fa-sistrix {
    padding: 4%;
}


/* nav */

.nav-container .nav {
    width: 90%;
    height: 80px;
    margin: auto;
    line-height: 80px;
}

.nav-left .menu-inline img {
    vertical-align: middle;
}

.nav-right .menu-inline li a {
    color: black;
}

.nav-right .menu-inline li a .fas {
    padding-left: 3%;
}


/* header image */

.header-background {
    width: 100%;
    height: 100%;
    background-image: url(../img/jumbotron.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.header-background .header-container {
    width: 90%;
    height: 700px;
    margin: auto;
}

.header-container .text {
    height: 100%;
}

.header-container .text h1 {
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 40px;
    color: rgb(51, 71, 91);
}

.header-container .text p {
    font-size: 14px;
}

.header-container .text a {
    text-decoration: none;
    font-size: 14px;
}

.header-container .text p:last-child {
    padding-top: 50px;
    font-size: 12px;
}


/* /header */


/* main */

.first-section {
    width: 100%;
    height: 1500px;
    background-color: rgb(244, 249, 253);
}

.first-section .first-section-image {
    width: 90%;
    height: 370px;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 50px;
}

.first-section-image .image-cube {
    width: 25%;
    height: 228px;
    margin: auto;
    background-image: url(../img/cube.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

.first-section-image,
.first-section-image h1 {
    text-align: center;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
}


/* box */

.box {
    width: 90%;
    height: 350px;
    margin: auto;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.box .left {
    width: 30%;
    height: 100%;
    padding-left: 9%;
    padding-right: 9%;
    text-align: center;
}

.box .image-book {
    width: 100%;
    height: 100px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    background-image: url(../img/book.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.box .left div:last-child {
    padding: 10%;
}

.box .right {
    width: 70%;
    height: 100%;
    padding-right: 7%;
}

.box .right h2 {
    padding-top: 70px;
    padding-bottom: 30px;
    color: rgb(51, 71, 91);
}

.box .right p {
    padding-bottom: 30px;
}

.box .popolar-feature {
    text-transform: uppercase;
    padding-bottom: 30px;
}

.box .right span {
    display: inline-block;
    width: 70%;
    padding-left: 10%;
}


/* columns */

.columns {
    width: 90%;
    height: 635px;
    margin: auto;
}


/* column left */

.columns .column-left {
    height: 100%;
    padding: 2%;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.columns .image-columns {
    width: 34%;
    height: 130px;
    margin: auto;
    margin-bottom: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

.columns .columns-top .image-buble {
    background-image: url(../img/buble.svg);
}

.columns .columns-top h2 {
    margin-bottom: 30px;
}

.columns .columns-bottom h3 {
    text-transform: uppercase;
    padding-top: 35px;
    padding-bottom: 30px;
    border-top: 1px solid black;
}

.columns .columns-bottom ul {
    text-align: left;
    list-style: none;
    margin-bottom: 50px;
}

.columns .columns-bottom div {
    margin-left: 25%;
    margin-right: 25%;
}


/* column center */

.column-center {
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.column-center .columns-top .image-office {
    background-image: url(../img/office.svg);
}


/* column right */

.column-right {
    height: 100%;
    padding: 2%;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.column-right .columns-top .image-table {
    background-image: url(../img/table.svg);
}


/* /main */